@tailwind components;
@tailwind utilities;

.link {
    @apply text-blue-500 font-medium hover:underline;
}

.background {
    @apply bg-[url(/bg.svg)] bg-no-repeat bg-cover;
}

.hidescrollbar::-webkit-scrollbar {
    width: 0;
}

@layer components {
    html {
        @apply selection:bg-indigo-500 selection:text-white;
    }
}