# Node
node_modules
package-lock.json
yarn.lock

# Compiled files
dist

# Yarn logs
yarn*.log

# example
example/test
example/music-bot/node_modules
example/music-bot/package-lock.json
example/music-bot/.env