name: Node.js Package
on:
    workflow_dispatch:
concurrency:
    group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
    cancel-in-progress: true
jobs:
    publish-npm:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v1
              with:
                  node-version: 18
                  registry-url: https://registry.npmjs.org/
            - name: Cache yarn
              uses: actions/cache@v3
              with:
                path: .yarn/cache
                key: pubtest-yarn-cache-node-18
            - run: yarn install --immutable
            - run: yarn build
            - run: cd packages/discord-player
            - run: npm publish --dry-run
              env:
                  NODE_AUTH_TOKEN: ${{secrets.npm_token}}
