name: Node.js Package

on:
    release:
        types: [created]

jobs:
    publish-npm:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v1
              with:
                  node-version: 18
                  registry-url: https://registry.npmjs.org/
            - run: yarn install --immutable
            - run: yarn build
            - run: cd packages/discord-player
            - run: npm publish --access public
              env:
                  NODE_AUTH_TOKEN: ${{secrets.npm_token}}
