name: Publish dev
on:
  workflow_dispatch:
  schedule:
    - cron: '0 */12 * * *'
jobs:
  npm:
    name: npm
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          ref: v5

      - name: Install Node v14
        uses: actions/setup-node@v2
        with:
          node-version: 14
          registry-url: https://registry.npmjs.org/

      - name: Install dependencies
        run: npm install

      - name: Deprecate old releases
        run: npm deprecate discord-player@"~5.0.0-dev" "outdated version" || true
        env:
          NODE_AUTH_TOKEN: ${{ secrets.npm_token }}

      - name: Publish
        run: |
          npx tsc --skipLibCheck
          npm version --git-tag-version=false $(jq --raw-output '.version' package.json).$(date +%s).$(git rev-parse --short HEAD)
          npm publish --tag dev || true
        env:
          NODE_AUTH_TOKEN: ${{ secrets.npm_token }}
